main.home-page-container {
  width: 100%;
  margin-top: 44px;
  gap: 4rem;
}
main section.search-box-container {
  width: 100%;
  height: 641px;
  background-image: url("../images/search-box-bg.jfif");
  background-position: top;
  background-size: cover;
  border-radius: 0 0 162px 162px;
}
main section form.search-box {
  width: 1160px;
  height: 236px;
  padding: 5px 15px;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(8px);
  border-radius: 16px;
  color: var(--text-900);
  gap: 16px;
}
.top-search-box {
  justify-content: space-between;
  width: 100%;
}
.top-search-box input[type="radio"] {
  display: none !important;
}
.top-search-box div.flight-class {
  background-color: var(--white);
  border-radius: 16px;
  padding: 10px;
  gap: 10px;
}
.top-search-box div.flight-type {
  background-color: var(--white);
  border-radius: 16px;
  padding: 10px;
  gap: 10px;
}
.top-search-box div.flex-hz label {
  gap: 5px;
  padding: 8px 16px;
  border-radius: 12px;
  transition: all 0.2s ease-out;
  cursor: pointer;
}
.optional-btn-container label {
  width: 8.87rem;
}
.optional-btn-container {
  background-color: var(--white);
  border-radius: 16px;
  padding: 10px;
  gap: 10px;
  width: 28.5rem;
  justify-content: space-between;
}
#l-radio-btn1:checked ~ label#landing-label1 {
  background-color: var(--primary-500);
  color: var(--white);
}
#l-radio-btn2:checked ~ label#landing-label2 {
  background-color: var(--primary-500);
  color: var(--white);
}
#l-radio-btn3:checked ~ label#landing-label3 {
  background-color: var(--primary-500);
  color: var(--white);
}

#l-radio-btn1:checked ~ label#landing-label1 svg path {
  fill: var(--white) !important;
}
#l-radio-btn2:checked ~ label#landing-label2 svg path {
  fill: var(--white) !important;
}
#l-radio-btn3:checked ~ label#landing-label3 svg path {
  fill: var(--white) !important;
}
.search-inputs-container {
  justify-content: space-between;
}
.flights-options {
  gap: 1rem;
}
.flights-options > div {
  position: relative;
}

.flights-options-drop-down {
  min-width: 11rem;
  min-height: 78px;
  background-color: var(--white);
  border-radius: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 100%;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  padding: 0 5px;
}
.flight-class.active .flights-options-drop-down {
  opacity: 1;
  visibility: visible;
}
.flight-type.active .flights-options-drop-down {
  opacity: 1;
  visibility: visible;
}
.flights-options-drop-down input {
  display: none !important;
}
.flights-options-drop-down label * {
  pointer-events: none;
}
.flights-options-drop-down label {
  margin: 7px 0;
}
.flights-options-drop-down label:hover {
  background-color: var(--primary-500);
  color: var(--white);
}
.flights-options-drop-down input:nth-child(1):checked ~ div label:nth-child(1) {
  background-color: var(--primary-500);
  color: var(--white);
}
.flights-options-drop-down input:nth-child(2):checked ~ div label:nth-child(2) {
  background-color: var(--primary-500);
  color: var(--white);
}
.flights-options-drop-down input:nth-child(3):checked ~ div label:nth-child(3) {
  background-color: var(--primary-500);
  color: var(--white);
}
.flights-options-drop-down input:nth-child(4):checked ~ div label:nth-child(4) {
  background-color: var(--primary-500);
  color: var(--white);
}
.flights-options-drop-down input:nth-child(5):checked ~ div label:nth-child(5) {
  background-color: var(--primary-500);
  color: var(--white);
}
.flights-options-drop-down input:nth-child(6):checked ~ div label:nth-child(6) {
  background-color: var(--primary-500);
  color: var(--white);
}
.dropdown-btn {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
  font-family: Dana-FaNum, sans-serif !important;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.4s;
  padding: 7px 1px;
  width: 10.75rem;
  gap: 8px;
  justify-content: space-between;
}

#bottom-search-box1 {
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 84px;
  background-color: var(--white);
  border-radius: 16px;
  padding: 10px;
}
.tour-origin {
  gap: 1rem;
}
.tour-destination {
  gap: 1rem;
}
.input-group {
  align-items: start;
  gap: 4px;
  position: relative;
}

.input-group input {
  border: none !important;
  outline: none !important;
  cursor: pointer;
  color: var(--text-500);
  font-weight: 700;
  width: 185px;
}
.drop-down-container {
  display: none !important;
  position: absolute;
  top: 60px;
  width: 200px;
  height: 232px;
  left: 10px;
  background-color: var(--white);
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  overflow: hidden;
}
.input-group.open .drop-down-container {
  display: flex !important;
}
.drop-down-container ul {
  overflow: auto;
  width: 100%;
  align-items: start;
  gap: 10px;
  padding-top: 240px;
}
.drop-down-container ul li {
  padding: 6px 10px;
  cursor: pointer;
  gap: 8px;
  width: 100%;
  justify-content: start;
  transition: all 0.2s ease-in-out;
}
.drop-down-container ul li i {
  color: var(--orange);
  transition: all 0.2s ease-in-out;
}
.drop-down-container ul li:hover {
  background-color: var(--primary-500);
  color: var(--white);
}
.drop-down-container ul li:hover i {
  color: var(--white);
}
.drop-down-container ul li:nth-child(1) {
  margin-top: 28px;
}
.drop-down-container ul li:last-child {
  margin-bottom: 14px;
}

.reverse-btn {
  background-color: var(--orange);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: none !important;
  outline: none !important;
  padding: 6px;
  cursor: pointer;
  margin-left: 30px;
}
.date-hz {
  gap: 1rem;
}
#tour-passengers-list-container {
  display: none !important;
  position: absolute;
  top: 62px;
  width: 170px;
  height: 62px;
  left: -50px;
  background-color: var(--white);
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  overflow: hidden;
  align-items: start;
  justify-content: start;
  padding: 15px 10px;
}
.input-group.open #tour-passengers-list-container {
  display: flex !important;
}
#adult-passengers {
  width: 100%;
  justify-content: space-between;
}
.passengers-btn {
  gap: 5px;
}
#adult-passengers button {
  border: none;
  outline: none;
  background-color: var(--primary-500);
  color: var(--white);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
#adult-passengers button:disabled {
  cursor: not-allowed;
}
.search-input-group:nth-child(3) .input-group input {
  width: 6.25rem;
}
.search-input-group:nth-child(2) .input-group input {
  width: 7.9rem;
}
.search-input-group:nth-child(2) {
  gap: 20px;
}
.submit {
  width: 4rem !important;
  height: 4rem !important;
}
.tourism-agency-services,
.foreign-tourism-destination,
.inner-tourism-destination,
.common-questions-container {
  align-items: start;
  width: 100%;
  padding: 0 12.5rem;
}
.tourism-agency-services div.services-container {
  width: 100%;
  justify-content: space-between;
  margin: 2.5rem 0;
}
div.services-container div.flex-vr {
  align-items: start;
  justify-content: space-between;
  height: 4rem;
  width: 11rem;
  margin-right: 10px;
  gap: 0.5rem;
}
span.services-icon {
  background-color: var(--orange);
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 1rem;
}
p.services-title {
  color: var(--primary-700);
  size: 20px;
  font-weight: 700;
}
p.services-desc {
  size: 14px;
  font-weight: 400;
  color: var(--text-900);
  line-height: 20px;
}
.swiper {
  width: 100%;
  padding: 0;
  margin: 2.5rem 0;
}
.swiper-wrapper {
  width: 100% !important;
  height: 100%;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 12.8rem !important;
  height: 13.37rem !important;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}
.slider-item {
  width: 100%;
  height: 100%;
  position: relative;
}
.slider-picture {
  width: 15.37rem !important;
  height: 100% !important;
  background-position: center;
  background-size: cover;
}
.slider-item p {
  position: absolute;
  z-index: 10;
  bottom: 0px;
  width: 100%;
  font-size: 25px;
  font-weight: 700;
  color: var(--white);
  height: 80px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.572));
}
.slider-item:hover p {
  color: var(--white);
}
.slider-item:hover .slider-picture {
  transition: all 0.5s ease-in-out;
  transform: scale(1.07);
}
.common-questions-container {
  padding: 0 12.5rem;
  width: 100%;
  gap: 12px;
}
.questions-btn-container {
  gap: 1.5rem;
}
.common-questions-container input[type="radio"] {
  display: none !important;
}
.questions-btn-container label {
  margin-top: 0.7rem;
  background-color: var(--text-200);
  border-radius: 1rem;
  width: 8.5rem;
  height: 3.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#q-radio-btn1:checked ~ .questions-btn-container label#qustion-label1 {
  background-color: var(--primary-500);
  color: var(--white);
}
#q-radio-btn2:checked ~ .questions-btn-container label#qustion-label2 {
  background-color: var(--primary-500);
  color: var(--white);
}
#q-radio-btn3:checked ~ .questions-btn-container label#qustion-label3 {
  background-color: var(--primary-500);
  color: var(--white);
}
div#q-box-1,
div#q-box-2,
div#q-box-3 {
  display: none;
  transition: all 0.4s ease-in-out;
}
#q-radio-btn1:checked ~ div#q-box-1 {
  display: flex;
  animation: animate-qst-revealer 0.35s ease-in-out forwards;
}
#q-radio-btn2:checked ~ div#q-box-2 {
  display: flex;
  animation: animate-qst-revealer 0.35s ease-in-out forwards;
}
#q-radio-btn3:checked ~ div#q-box-3 {
  display: flex;
  animation: animate-qst-revealer 0.35s ease-in-out forwards;
}
@keyframes animate-qst-revealer {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
.questions-box-container {
  width: 100%;
  gap: 0.85rem;
  margin: 1rem 0;
}
.q-box-item {
  align-items: start;
  padding: 20px;
  border-radius: 1rem;
  width: 100%;
  height: 5rem;
  background-color: var(--text-50);
  cursor: pointer;
  gap: 1.5rem;
  transition: all 0.4s ease-in-out;
}
.q-box-item.open {
  height: max-content;
}
.answer {
  display: none;
  transition: all 0.4s ease-in-out;
  height: 0;
}
.q-box-item.open .answer {
  height: max-content !important;
  display: block !important;
}
.q-box-title {
  width: 100%;
  justify-content: space-between;
}
.q-box-title i {
  transform: rotate(0);
  transition: all 0.4s ease-in-out;
}
.q-box-item.open .q-box-title i {
  transform: rotate(180deg);
}
.submit span {
  display: none !important;
}
@media screen and (max-width: 650px) {
  main {
    width: 100%;
  }
  main section.search-box-container {
    width: 100% !important;
    height: 1100px;
    border-radius: 0 0 62px 62px;
  }
  main section form.search-box {
    width: 350px;
    height: 936px;
    padding: 1.3rem;
    border-radius: 19px;
    gap: 16px;
  }
  .top-search-box {
    flex-direction: column;
    gap: 1rem;
  }
  .optional-btn-container {
    flex-direction: column;
    width: 100%;
  }
  .optional-btn-container label {
    width: 100%;
  }
  .flights-options {
    gap: 1rem;
    flex-direction: column;
    width: 100%;
  }
  .top-search-box div.flight-type,
  .top-search-box div.flight-class {
    width: 100%;
  }
  div.flight-class button {
    z-index: 1 !important;
  }
  .dropdown-btn {
    width: 100%;
  }
  .flights-options-drop-down {
    z-index: 10;
    width: 100%;
    min-height: 10.5rem;
  }
  .flights-options-drop-down div {
    width: 100%;
  }
  .top-search-box div.flex-hz label {
    padding: 18px 16px;
    border-radius: 12px;
    transition: all 0.2s ease-out;
    cursor: pointer;
    font-size: 0.99rem;
    width: 100% !important;
  }
  #bottom-search-box1 {
    width: 100%;
    height: 484px;
    background-color: var(--white);
    border-radius: 16px;
    padding: 10px;
  }
  .search-inputs-container {
    justify-content: space-between;
    flex-direction: column;
    gap: 1.3rem;
  }
  .search-input-group {
    flex-direction: column;
    width: 100%;
    align-items: start;
    padding: 0 1rem;
  }
  .input-group.open .drop-down-container {
    z-index: 100;
    width: 15.6rem;
    left: -2rem;
    height: 300px;
  }
  .search-input-group:nth-child(2) .input-group input {
    width: 100%;
  }
  .search-input-group:nth-child(3) .input-group input {
    width: 100%;
  }
  .reverse-btn {
    margin-left: 0;
    margin-right: 6.5rem;
    transform: rotate(90deg);
    margin-top: 1rem;
  }
  #tour-passengers-list-container {
    width: 15rem;
    height: 74px;
    left: 0px;
    top: 67px;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
  }
  .tourism-agency-services,
  .common-questions-container {
    align-items: start;
    width: 100%;
    padding: 0 2.5rem;
  }
  .foreign-tourism-destination,
  .inner-tourism-destination {
    align-items: start;
    width: 100%;
    padding: 0 1.5rem;
  }
  .tourism-agency-services div.services-container {
    flex-direction: column;
    gap: 2.6rem;
    align-items: start;
  }
  .questions-btn-container {
    gap: 1.5rem;
  }
  .questions-btn-container label {
    margin-top: 0.7rem;
    background-color: var(--text-200);
    border-radius: 1rem;
    width: 5rem;
    font-size: small;
    height: 2.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .q-box-title p {
    font-size: small;
  }
  p.answer {
    font-size: small;
  }
  .foreign-tourism-destination {
    width: 100% !important;
  }
  .swiper {
    width: 250%;
    transform: translateX(21rem);
  }
  .swiper-slide {
    background-position: top;
    background-size: cover;
    width: 9.1rem !important;
    height: 10.37rem !important;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
  }
}
